{% extends 'base.html.twig' %}


{% block body %}
<h1 class="text-center mt-5">Mon compte</h1>
<div class="container mt-5 d-flex flex-wrap justify-content-between">
        <div class = "col-md-3 col-sm-12 mt-4">

        {% include 'account/_menu.html.twig' %}

        </div>

        <div class = "form-container justify-content-start col-md-8 col-sm-12 mt-4">

            <div class=" text-center  form-wrapper mb-5">
                <h5 class="text-center">Modification Mot de Passe</h5>
                {{ form_start(modifyPwdForm) }}
                    {{ form_row(modifyPwdForm.actualPassword) }}
                    {{ form_row(modifyPwdForm.plainPassword) }}
                    {{ form_row(modifyPwdForm.submit) }}
                {{ form_end(modifyPwdForm) }}
            </div>
        </div>
</div>
{% endblock %}
