{% extends 'base.html.twig' %}


{% block body %}

 <h1 class="text-center mt-5">Mon compte</h1>
    <div class="container mt-5 d-flex flex-wrap justify-content-between">
        <div class = "col-md-3 col-sm-12 mt-4">

        {% include 'account/_menu.html.twig' %}

        </div>

            <div class = "form-container justify-content-start col-md-8 col-sm-12 mt-4">

                <div class=" text-center  form-wrapper mb-5">

                    <h5 >Mes adresses</h5>

                    <a href="{{ path('app_account_address_form') }}" class="btn btn-outline-dark px-4 py-2" style="border-color: #b98d75; color: #b98d75;">Ajouter une adresse</a>

                </div>


                {% if app.user.addresses|length == 0 %}
                <div class="alert alert-info text-center">
                    Vous n'avez pas encore enregistré d'adresse.
                </div>
                {% else %}

                    <div class="row">

                    {% for address in app.user.addresses %}

                        <div class="col text-center  form-wrapper mb-5">

                            <div class="">

                                <strong>{{ address.firstname }} {{ address.lastname }}</strong><br/>

                                {{ address.address }}<br/>

                                {{ address.postal }}, {{ address.city }}<br/>

                                {{ address.country }}<br/>

                                <a href="{{ path('app_account_address_form', { id : address.id } ) }}" class="small">Éditer</a>

                                <a href="{{ path('app_account_address_delete', { id : address.id } ) }}" class="small">Supprimer</a>

                            </div>

                        </div>

                    {% endfor %}

                    </div>

                {% endif %}


            </div>

        </div>


    </div>


{% endblock %}